 
 .rec-sq {
   display: flex;
   gap: 0em;
   margin: 0em;
  }
  .retangulo-cinza {
   position: absolute;
   width: 1600px;
   height: 585px;
   background: rgb(233, 232, 231);
   top: 155px;
  }
  .linha-azul {
   position: absolute;
   width: 1600px;
   height: 8px;
   background: rgb(60, 68, 113);
  }

  .img-capa{
   position: absolute;
   left: 150px;
   top: 155px;
  }

  .img-logo{
   position: absolute;
   left: 150px;
   top: 50px;
   width: 300px;
  }
  
  .links{
   position: absolute;
   top: 50px;
   right: 100px;
  }

  .text{
    position: absolute;
    left: 150px;
    top: 800px;
    right: 100px;
  }

  .line{
    text-align: center;
  }